input[type=text]{
    
    border-radius:20px;
    border: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  
  button{
    background-color: #fae036;
    color:black;
    padding: 5px 10px;
    margin-left: 3px;
    font-size: 15px;
    border-radius:10px;
    border: none;
    cursor: pointer;
    height: 35px;
  }
  
  a.btn{
      font-size: 15px;
      font-weight: bold;
      background-color: #fae036;
      border-color: #fae036;  
      opacity: 0.8;
  }
    
    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: absolute;
      top: 100px;
      right: 500px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }
    
    /* Full-width input fields */
    .form-container input[type=text],.form-container input[type=tel]{
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      font-size: 15px;
    }
    
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=tel]:focus {
      background-color: #ddd;
      border: #fae036;
    }
    
    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color: gray;
      color: black;
      font-weight: bold;
      font-size: 15px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.9;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: red;
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
    label{
        font-size: 15px;
        font-weight: bold;
    }
  
    a{
      color: white;
      font-size: 15px;
    }
  
   [name='client'] :hover{
      opacity: 1;
      background-color: lightgray;
      color: black;
    }