a.btn{
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
    border-color: gray;  
    color: white;  
}
a.btn:hover{
    background-color: rgb(228, 187, 76);
    font-size: 22px;
    border-color: black;
}