input[type=text]{
    
    border-radius:20px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}


button{
    background-color: #fae036;
    color:black;
    padding: 5px 10px;
    margin-left: 3px;
    font-size: 15px;
    border-radius:10px;
    border: none;
    cursor: pointer;
    height: 35px;
}
