
                    <!--TITRE-->
<div class="container mb-5 pt-5">
    <div class=" w-75 container mt-5 mb-5 pt-5 " >
      <h3 style="color: white; font-size: 30px;">Profit :</h3>
    </div>
</div>
                    <!--Peinture-->
                       
<div class=" container mb-4"style="margin-left: 100mm;">
    <a class="hv btn btn-light mx-3 btn-lg  px-5" style="background-color: grey;border-color: grey; " target="_blank" routerLink="/Peinture"><span>Peinture</span></a>
    <input readonly type="text"id="Peinture" name="Peinture" value="50.000" >
</div>   
                    <!--PVC-->
<div class=" container  mb-4 "style="margin-left: 100mm;">
    <a class="hv btn btn-light mx-3 btn-lg  px-5" style="background-color: grey; border-color: grey;" target="_blank" routerLink="/PVC"><span>PVC</span></a>
    <input readonly type="text" name="PVC" value="50.000" >
</div>  
                    <!--Menuiserie-->
<div class=" container  mb-4 "style="margin-left: 100mm;">
    <a class="hv btn btn-light mx-3 btn-lg  px-5" style="background-color: grey; border-color: grey;" target="_blank" routerLink="/Menuiserie"><span>Menuiserie</span></a>
    <input readonly type="text" name="Menuiserie" value="50.000" >
</div>  
                    <!--Plomberie-->
<div class=" container  mb-4 "style="margin-left: 100mm;">
    <a class="hv btn btn-light mx-3 btn-lg  px-5" style="background-color: grey; border-color: grey;" target="_blank" routerLink="/Plomberie"><span>Plomberie</span></a>
    <input readonly type="text" name="Plomberie" value="50.000" >
</div> 
                    <!--Autres-->
<div class=" container  mb-4 "style="margin-left: 100mm;">
    <a class="hv btn btn-light mx-3 btn-lg  px-5" style="background-color: grey; border-color: grey;" target="_blank" routerLink="/Autres"><span>Autres</span></a>
    <input readonly type="text" name="Autres" value="50.000" >
</div>

<div class="container " style="margin-left: 180mm;">
    <div class=" w-75 container " >
      <a style="color: white; font-size: 30px;">Total : </a>
      <input readonly type="text" name="Total" value= "{{valeur}}">
    </div>
</div>