<div class="mt-5 pt-5">
  <div class=" pt-5 d-flex justify-content-center mb-5">
    <img src="assets/logo.png"  width="300" >
  </div>
  <div class="d-flex justify-content-center  ">
 
      <a class="hv btn btn-light mx-3 btn-lg  px-5" target="_blank" routerLink="/Achat"><span>Achat</span></a>

      <a class="hv btn btn-light mx-3 btn-lg px-5" target="_blank"  routerLink="/Crédit"><span>Crédit</span></a>
    
      <a class="hv btn btn-light mx-3 btn-lg px-5" target="_blank" routerLink="/Stock"><span>Stock</span></a>

      <a class="hv btn btn-light mx-3 btn-lg px-5" target="_blank"  routerLink="/Profit" ><span>Profit</span></a>

  </div>
</div>